.image-slide {
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  &.image-slide1 {
    background: url('../images/nests.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide1-blur {
    background: url('../images/nests-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide2 {
    background: url('../images/chickens-cowork.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide2-blur {
    background: url('../images/chickens-cowork-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide3 {
    background: url('../images/wolf-kahn.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide3-blur {
    background: url('../images/wolf-kahn-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide4 {
    background: url('../images/costa-rica.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide4-blur {
    background: url('../images/costa-rica-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide5 {
    background: url('../images/mwinstall-before.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide5-blur {
    background: url('../images/mwinstall-before-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide6 {
    background: url('../images/mw-install-after.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide6-blur {
    background: url('../images/mw-install-after-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide7 {
    background: url('../images/obama-logo.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide7-blur {
    background: url('../images/obama-logo-blur.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide8 {
    background: url('../images/andy-goldworthy-rain-shadow.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide9 {
    background: url('../images/goldsworthy-leaves.jpg') no-repeat 0 0;
    background-size: cover;
  }
  &.image-slide10 {
    background: url('../images/elephant.jpg') no-repeat 0 0;
    background-size: cover;
  }
}